/*style*/

#header{position:relative;width:100%;height:130px;background:#000;}
#header:before{position:absolute;content:"";width:100%;height:40px;background:#971c07 ;}
.header_inner{position:relative;width:1200px;margin:0 auto;}
.header_inner h1{position:absolute;top:54px;left:0;}
.header_inner a{display:block;}
.header-top {line-height:39px;width:100%;height:40px;}
.h_left{float:left;}
.h_left strong{display:inline-block;font-size:13px;color:#000;margin-right:10px;}
.h_left strong + strong{margin-right:0px;}
.h_right{float:right;}
.h_right span{position:relative;display:inline-block;font-size:13px;color:#000;margin-left:10px;}
.h_right span:before{position:absolute;content:'';width:1px;height:13px;background:#000;top:13px;right:-8px;}
.h_right span:last-child:before{position:absolute;content:'';width:1px;height:13px;background:#971c07 ;top:13px;right:-8px;}
/*마지막 라인 없애는 방법*/
.gnb{float:right;}
.gnb li {float:left;position:relative;line-height:90px;height:90px;margin-left:0px;}
.gnb li + li {margin-left:34px;}
.gnb li a{color:#fff;display:block;font-size:16px;}
#visual_wrap{position:relative;width:100%;height:800px;background:url('http://drive.google.com/uc?export=view&id=1WBYn_nr8yJhF0BoU9h4akRzv4jIAQo0z')top center no-repeat;overflow:hidden;}
.btn{position:absolute;width:160px;height:15px;left:0;right:0;bottom:50px;margin:0 auto;}
.btn ul li{float:left;width:10px;height:10px;border-radius:50%;background:rgba(182,182,182,0.5);margin-right:0px;}
.btn ul li + li {margin-left:27px;}
.btn ul li a{position:absolute;left:0;top:0;width:100%;height:100%;}
#content{position:relative;width:100%;height:655px;background:#000;padding:40px 0;}
.content_inner{width:1200px;margin:0 auto;}
.section1 {width:100%;margin-bottom:40px;display:inline-block;}
.section1 li {float:left;width:240px;height:170px;}
.section1 li:nth-child(1){position:relative;background:url('http://drive.google.com/uc?export=view&id=1luWosQRYcVK5B7JO3R1LVzvwJwbiAeir'); padding:20px;text-align:center;z-index:1;}
.section1 li:nth-child(1) h2 {color:#fff;line-height:1;margin-top:20px;}
.section1 li:nth-child(1) p {color:#fff;font-size:14px;line-height:23px;margin-top:20px;}
.section1 li:nth-child(1) a{position:absolute;width:100%;height:100%;left:0;top:0;}
.section1 li:nth-child(1) a:hover:before{content:'';position:absolute;width:100%;height:100%;left:0;top:0;z-index:-1;background:rgba(0,255,255,0.5)}
.section1 li:nth-child(2){position:relative;background:url('http://drive.google.com/uc?export=view&id=1IkqqUijYlOsy1ae8t6ggBJ2_qUfycvS9'); padding:20px;text-align:center;z-index:1;}
.section1 li:nth-child(2) h2 {color:#fff;line-height:1;margin-top:20px;}
.section1 li:nth-child(2) p {color:#fff;font-size:14px;line-height:23px;margin-top:20px;}
.section1 li:nth-child(2) a{position:absolute;width:100%;height:100%;left:0;top:0;}
.section1 li:nth-child(2) a:hover:before{content:'';position:absolute;width:100%;height:100%;left:0;top:0;z-index:-1;background:rgba(0,255,255,0.5)}
.section1 li:nth-child(3){position:relative;background:url('http://drive.google.com/uc?export=view&id=1buRtCCFEeAR-MIEiOe9BAzCa4PIwkfVm'); padding:20px;text-align:center;z-index:1;}
.section1 li:nth-child(3) h2 {color:#fff;line-height:1;margin-top:20px;}
.section1 li:nth-child(3) p {color:#fff;font-size:14px;line-height:23px;margin-top:20px;}
.section1 li:nth-child(3) a{position:absolute;width:100%;height:100%;left:0;top:0;}
.section1 li:nth-child(3) a:hover:before{content:'';position:absolute;width:100%;height:100%;left:0;top:0;z-index:-1;background:rgba(0,255,255,0.5)}
.section1 li:nth-child(4){position:relative;background:url('http://drive.google.com/uc?export=view&id=1k0aGcYhg8LIeZT-VzP1lyojOSTRMFOJl'); padding:20px;text-align:center;z-index:1;}
.section1 li:nth-child(4) h2 {color:#fff;line-height:1;margin-top:20px;}
.section1 li:nth-child(4) p {color:#fff;font-size:14px;line-height:23px;margin-top:20px;}
.section1 li:nth-child(4) a{position:absolute;width:100%;height:100%;left:0;top:0;}
.section1 li:nth-child(4) a:hover:before{content:'';position:absolute;width:100%;height:100%;left:0;top:0;z-index:-1;background:rgba(0,255,255,0.5)}
.section1 li:nth-child(5){position:relative;background:url('http://drive.google.com/uc?export=view&id=1FBFxPDrBJFzugBcS0kZFZKunPTPXy2AX'); padding:20px;text-align:center;z-index:1;}
.section1 li:nth-child(5) h2 {color:#fff;line-height:1;margin-top:20px;}
.section1 li:nth-child(5) p {color:#fff;font-size:14px;line-height:23px;margin-top:20px;}
.section1 li:nth-child(5) a{position:absolute;width:100%;height:100%;left:0;top:0;}
.section1 li:nth-child(5) a:hover:before{content:'';position:absolute;width:100%;height:100%;left:0;top:0;z-index:-1;background:rgba(0,255,255,0.5)}
.section2{width:100%;margin-bottom:40px;display:inline-block;}
.notice{float:left;width:580px;}
.main_tit{position:relative;width:100%;height:50px;background:url('http://drive.google.com/uc?export=view&id=1ykhc_JuYCEFCjsCEd95vL-sD99uZM5ha')no-repeat left bottom;}
.main_tit h2 {font-size:34px;font-family:'DwarvenAxe !important';color:#fff;line-height:1;display:inline-block;}
.main_tit span {position:absolute;top:0;right:3px;}
.main_tit span a{display:inline-block;}
.n_con{height:177px;padding-top:20px;}
.n_con li {position:relative;padding-left:20px;line-height:30px;}
.n_con li :before{position:absolute;content:'';width:5px;height:5px;border-radius:50%;top:12px;left:0;background:#971c07;}
.n_con li a{display:inline-block;color:#fff;font-size:15px;}
.n_con  span {float:right;color:rgb(200,180,110);font-size:15px;}
.reference_Room{float:right;width:580px;}
.r_con{padding-top:25px;height:177px;}
.r_con li {float:left;margin-left:0;width:184px;text-align:center;}
.r_con li + li {margin-left:10px;}
.r_con li a{display:inline-block;}
.r_con span{display:block;line-height:1;font-size:14px;color:rgb(200,180,110);padding-top:10px;}
.section3{position:relative;width:100%;display:inline-block;background:#971c07 ;height:80px;padding:14px 0;padding-left:205px;}
.section3 h3{position:absolute;top:30px;left:30px;display:inline-block;line-height:1;color:#fff;}
.btn_icon{position:absolute;top:23px;left:236px;}
.btn_icon a {display:inline-block;}
.slider_wrap{position:relative;margin:0 137px;}
.slider_wrap li {float:left;margin-left:0;}
.slider_wrap li + li {margin-left:50px;}
#footer{width:100%;height:126px;border-top:1px solid #474747;background:#000;}
.footer_inner{position:relative;width:1200px;margin:0 auto;}
.footer_top{padding-top:24px;}
.footer_top span{display:inline-block;line-height:1;}
.footer_top span a {font-size:12px;color:#fff;}
address{font-size:14px;color:#fff;line-height:20px;margin-top:9px;display:inline-block;}
address span{color:#971c07;}
.f_logo {position:absolute;top:31px;right:17px;}
.f_logo a {display:inline-block;}
